matplotlib
recommonmark
sphinx
sphinx_autobuild
PyYAML>=4.21b
docutils
csvkit
yamllint
pathlib
ipykernel
nbsphinx
pytest
path.py
cython
statsmodels
jupyter
cmake
numpy
numpydoc
scipy
matplotlib
example
Image
seaborn
sphinx_gallery
mock
