matplotlib
recommonmark==0.4.0
sphinx==1.8
sphinx_autobuild
PyYAML==3.12
docutils<0.13.1
csvkit==1.0.2
yamllint
pathlib
ipykernel
nbsphinx
pytest  
path.py
cython==0.28.5
statsmodels
jupyter
cmake
numpy
numpydoc
scipy
matplotlib
example
Image
seaborn
sphinx_gallery
mock
breathe
exhale==0.2.2
